services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  # mongo-express:
  #   image: mongo-express:1.0.2
  #   container_name: mongo-express
  #   restart: unless-stopped
  #   depends_on:
  #     - mongodb
  #   environment:
  #     ME_CONFIG_MONGODB_ADMINUSERNAME: admin
  #     ME_CONFIG_MONGODB_ADMINPASSWORD: admin123
  #     ME_CONFIG_MONGODB_SERVER: mongodb
  #   ports:
  #     - "8081:8081"

  postgres:
    image: postgis/postgis:16-3.4 # PostGIS on PostgreSQL 16 with PostGIS 3.4
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # pgadmin:
  #   image: dpage/pgadmin4:8
  #   container_name: pgadmin
  #   restart: unless-stopped
  #   depends_on:
  #     - postgres
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: admin@example.com
  #     PGADMIN_DEFAULT_PASSWORD: admin123
  #   ports:
  #     - "8080:80"
  #   volumes:
  #     - pgadmin_data:/var/lib/pgadmin

volumes:
  mongo_data:
  postgres_data:
  # pgadmin_data:
